fastapi==0.133.1
uvicorn[standard]==0.41.0
SQLAlchemy==2.0.47
psycopg2-binary==2.9.11
python-dotenv==1.2.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
pydantic[email]==2.12.5
alembic==1.18.4